body {
    width: 80vw;
    margin: 0 auto;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4 {font-family: monospace;}
header h1 {

    text-align: center;
    font-size: 56px;
    text-decoration: none;
    
}

header h1 a {
text-decoration: none;
}
nav {
    width: 500px;
}
nav div {
    width: 50%;
    float: left;
}

nav div h2 {
    text-align: center;
}
nav div ul {
list-style: none;
text-align: center;
padding: 0;
}
nav div ul li {
    margin-bottom: 8px;
    font-size: 18px;

}
nav div ul li a {
    color: rgb(43, 167, 157);
    text-decoration: none;
    padding: 2px 10px;
}
nav div ul li a:hover {
    color: rgb(181, 181, 34);
    background-color: rgb(0, 0, 0);
}

xmp {
background-color: rgb(146, 165, 181);
color: rgb(18, 10, 10);
}
xmp ::before {
    content: "Exempel kod";
    font-size: 18px;
    margin: 5px;
}
main#Sem-element img{
    margin: 0 auto;

}
main#border .b {
  padding: 12px;
  margin: 10px 15px 0 0;
}
main#border .solid { 
    border: 4px Solid #000000; 
}
main#border .dashed { 
    border: 4px Dashed #000000; 
}
main#border .rounded {
  border: 4px Solid #000000;
  border-radius: 15px;
}
main#display .box {
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    height: 50px;
}
main#display .block {display: block; }
main#display .inline {display: inline; }
main#display .inline-block {display: inline-block; }

main#position .positioned-box {
position: absolute;
border: 1px solid rgb(0, 36, 199);

}

main#position .middle-box {
    top : 350px;
    left: 0;
    width: 350px;
    height: 250px;
    padding: 20px;
}
main#position .top-right-box {
    top: 200px;
    right: 100px;
    padding: 10px;
}

main#position article {
    position: relative;
    padding-top: 500px;
    
    
}

main#flexbox .flex {
    display: flex;
    width : 800px;
    height: 400px;
    border : 1px solid rgb(0, 0, 0);
    justify-content: center;
    justify-content: space-between;
    align-items: center; 
}

main#flexbox .item {
width: 200px;
height : 200px;
border : 1px solid rgb(0, 0, 0);
display: flex;
align-items: center;
justify-content: center;
}

main#recap{background: #ffffff; padding:50px 0;}
main#recap .recap-text{width:900px; margin:0 auto; color: #ff0000;}

main#recap .banner{
    background: #ffabee; text-align:center; font-weight:700;
    padding:8pc 0; margin-bottom:16px;
}

main#recap h1{font-size:36px; margin: 0 0 8px;}
main#recap h2{font-size:28px; margin: 0 0 8px;}
main#recap h3{font-size:24px; margin: 0 0 8px;}
main#recap h4{font-size:18px; margin: 0 0 12px;}

main#recap p{max-width:700px; ;}
main#recap a{color: #ff0000;}
main#recap hr{border:none; border-top:2px solid #161616; margin:16px 0; }

main#recap .recap-img{width:50%; height :auto; display:block; margin:12px 0;}

main#recap .boxes{ display:flex; gap:24px; margin:16px 0; }
main#recap .box{ width:150px; height:150px; border:2px solid #222222; background:#cccccc; }
main#recap .box.b1{ background:#ab0000; }
main#recap .box.b2{ background:#ab0000; }
main#recap .box.b3{ background:#ffb2f0; }

main#recap .recap-form{max-width:360px ; margin:16px 0}
main#recap .recap-form .form-group{margin-bottom:12px; display: flex; flex-direction: column; gap:6px;}

main#recap fieldset.form-group{
  border:1px solid #a7a5a5; padding:8px; display:flex; gap:12px; flex-wrap:wrap;
}
main#recap button{
  padding:8px 14px; border:1px solid #272727; background:#ffffff;
}
main#recap button:hover{ background:#272727; color:#ffffff; }

main#recap .footer{
  background:#000000; color:#ffffff; padding:12px; margin-top:24px; font-size:12px;
}